.main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.post-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.user-info {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.post-content input {
    max-width: 580px;
}

.post-content input:focus {
    border: 2px solid rgba(66, 153, 225, 0.6);
}


.post-content input::placeholder {
    color: #8694a8;
    letter-spacing: .5px;
    font-size: 14px;
}

.user-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.user-username {
    font-weight: bold;
}

.post-content {
    padding: 10px;
}

.post-interactions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #eee;
}

.interaction-option {
    cursor: pointer;
    color: #555;
}

.interaction-option:hover {
    color: #007bff;
}